.panda-main-bg {
  background-color: #fceae8;
}

.panda-category-bg-orange {
  background-color: orange;
}
.panda-category-bg-orchid {
  background-color: orchid;
}
.panda-category-bg-blue {
  background-color: blue;
}
.panda-category img {
  width: 100px;
}
.panda-buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.panda-author-color {
  color: #ff136f;
}
